$jetFuel: hsl(30, 1%, 33%);
$blueSplash: hsl(198, 58%, 43%);
$yellowChalk: hsl(59, 80%, 82%);
$biohazardSuit: hsl(61, 92%, 63%);
$vermilionBird: hsl(4, 88%, 58%);
$energyGreen: hsl(168, 58%, 43%);

$blueSplashHover: hsl(198, 62%, 32%);
$energyGreenHove: hsl(168, 68%, 32%);
